.cake {
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .list {
    display: flex;
    gap: 40px;
  }

  .item {
    backdrop-filter: blur(3px);
    cursor: pointer;
    overflow: hidden;
    border: 1px solid $bdColor2;
    border-radius: 6px;
    flex: 0 0 25%;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 15px 0 $bgColor4;
    }

  }

  .item-name {
    box-sizing: border-box;
    padding: 20px;
  }
}

.tabs {
  margin-bottom: 40px;

  .tab-btn {
    @include font-size(18);
    border: 1px solid transparent;
    height: 40px;
    margin-right: 30px;
    background-color: $bgColor1;
    padding: 0 20px;
    border-radius: 6px;
    transition: box-shadow 0.3s ease;

    &:last-child {
      margin-right: 0;
    }

  }

  .tab-btn.active {
    border-color: $bdColor2;
    color: $textColor3;
  }

  .tab-btn:not(button.active):hover {
    box-shadow: 0 0 15px 0 $bgColor4;
  }

}

.tab-content {

  margin-bottom: 60px;
  gap: 60px;
  display: flex;

  &__img-box {
    border-radius: 12px;
    overflow: hidden;
    max-width: 375px;
  }

}


.hide {
  opacity: 0;
  visibility: hidden;
}

