// Sprite version
$spriteVersion : 15;

// Default font size
$defaultFontSize : 16;

// Text colors
$textColor1  : #FFFFFF;

// Background colors
$bgColor1  : #FFFFFF;
$bgColor2  : blue;
$bgColor3  : #422C20;

// Border colors
$bdColor1  : #ECECEC;
