// Sprite version
$spriteVersion : 15;

// Default font size
$defaultFontSize : 16;

// Text colors
$textColor1  : #FFFFFF;
$textColor2  : #000000;
$textColor3  : #FF8886;
$textColor4  : #422C20;
$textColor5  : #333333;

// Background colors
$bgColor1  : #FFFFFF;
$bgColor2  : #000000;
$bgColor3  : #422C20;
$bgColor4  : #FF8886;
$bgColor5  : #333333;

// Border colors
$bdColor1  : #ECECEC;
$bdColor2  : #FF8886;
$bdColor3  : #aaaaaa;
$bdColor4  : #333333;
$bdColor5  : #422C20;
